Querying BigQuery and Loading Data
Below are example code to load each table from BigQuery into a Pandas DataFrame

In [ ]:
from google.cloud import bigquery
import pandas as pd

# Initialize the BigQuery client
client = bigquery.Client()
# project "fluid-keyword-454503-a8"
# bq dataset "olist_star_schema"

# Define your SQL queries for each table
query_order_items = """
SELECT shipping_limit_date, price, freight_value, product_id, customer_id 
FROM `fluid-keyword-454503-a8.olist_star_schema.fct_order_items`
"""

query_dim_products = """
SELECT product_id, product_category_name_english 
FROM `fluid-keyword-454503-a8.olist_star_schema.dim_products`
"""

query_dim_customers = """
SELECT customer_id, customer_unique_id, customer_city 
FROM `fluid-keyword-454503-a8.olist_star_schema.dim_customers`
"""

# Load data into Pandas DataFrames
fct_order_items = client.query(query_order_items).to_dataframe()
dim_products = client.query(query_dim_products).to_dataframe()
dim_customers = client.query(query_dim_customers).to_dataframe()

# Convert shipping_limit_date to datetime
fct_order_items['shipping_limit_date'] = pd.to_datetime(fct_order_items['shipping_limit_date'])

In [2]:
fct_order_items.head(10)

,shipping_limit_date,price,freight_value,product_id,customer_id
0,2017-10-24 23:56:20+00:00,895.0,21.02,a2ff5a97bf95719e38ea2e3b4105bce8,d7fc82cbeafea77bd0a8fbbf6296e387
1,2017-10-12 22:24:16+00:00,895.0,21.02,a2ff5a97bf95719e38ea2e3b4105bce8,944b72539d7e1f7f7fc6e46639ef1fe3
2,2017-10-18 14:49:22+00:00,895.0,21.02,a2ff5a97bf95719e38ea2e3b4105bce8,d9442164acf4b03109425633efaa0cfc
3,2017-10-24 23:56:20+00:00,895.0,21.02,a2ff5a97bf95719e38ea2e3b4105bce8,d7fc82cbeafea77bd0a8fbbf6296e387
4,2017-10-18 14:49:22+00:00,895.0,21.02,a2ff5a97bf95719e38ea2e3b4105bce8,d9442164acf4b03109425633efaa0cfc
5,2017-10-12 22:24:16+00:00,895.0,21.02,a2ff5a97bf95719e38ea2e3b4105bce8,944b72539d7e1f7f7fc6e46639ef1fe3
6,2017-04-06 19:05:11+00:00,69.9,31.23,08574b074924071f4e201e151b152b4e,5f0662b2fbb42916fefe7f829ccfbd99
7,2017-03-31 20:25:17+00:00,69.9,31.23,08574b074924071f4e201e151b152b4e,73948555e2ccaf80d48a3b1f736c5c84
8,2017-03-30 13:10:09+00:00,69.9,31.23,08574b074924071f4e201e151b152b4e,2f6748db5d35abc0695076611514da0e
9,2017-03-30 13:10:09+00:00,69.9,31.23,08574b074924071f4e201e151b152b4e,2f6748db5d35abc0695076611514da0e

In [3]:
dim_products.head(10)

                         product_id product_category_name_english
0  a961143b53bf771400f1bc6bdf396e8d                          food
1  5b99f79ba0d929b0f3270ab0f0f5911f                        drinks
2  fbecfbe44e34c5291e5499870cd5db2e                  market_place
3  c8eca123751676bbdaaa9e4a84721362       costruction_tools_tools
4  170ae15fc78b44bceab3e66baefbbd99         fashion_male_clothing
5  24dea9b9a1d450d96702d46a0a835ff3         fashion_male_clothing
6  8daf2f80c6d552efdb1012683beb10cf             furniture_bedroom
7  8f4e5f5e6323576768b835363a3fb0f1         fashion_male_clothing
8  6401d2f82d6e6c52998ce626fe4eda24         fashion_male_clothing
9  8cf306b87f5f0832d70505004465e39f         fashion_male_clothing